# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# Database files
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
